* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(0, 0, 0, 0.938);
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  color: rgba(0, 0, 255, 0.89);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: rgb(16, 19, 28);
  color: #fffbf0;
  border-bottom: 1px solid grey;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 10000;

  ul li {
    list-style: none;
  }
}
ul {
  display: flex;
  gap: 50px;
  float: left;
  margin-top: 12px;
}
button {
  padding: 11px;
  color: #fffbf0;
  background-color: rgba(0, 23, 44, 0.479);
  border: black;
  width: 130px;
}
.main {
  background-image: url(https://static.vecteezy.com/system/resources/previews/048/626/663/large_2x/green-rolling-hills-under-a-clear-blue-sky-nature-background-free-photo.jpg);
  height: 645px;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
}
.info {
  color: #1d1601;

  font-size: large;
  padding: 0 60px;
  width: 70%;
  margin-left: 15%;
  p {
    margin-top: 20px;
  }
  h1 {
    font-size: 50px;
  }
}
.image {
  margin-left: 17%;
  display: flex;
  gap: 20px;
}
img {
  height: 150px;
  width: 150px;
  padding: 10px;
}

.last-line {
  display: flex;
  color: #fffbf0;
  align-items: center;
  gap: 15px;
  margin-left: 18%;

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fffbf0;
  }

  .horizontal-line {
    height: 1px;
    width: 25em;
    background-color: grey;
  }
}

.part-2 {
  background-color: rgba(0, 23, 44, 0.479);
  width: 100%;
  display: flex;
  align-items: center;
  color: #fffbf0;
  padding-top: 150px;
  padding-bottom: 200px;
}
.about {
  display: flex;
  align-items: center;
  gap: 7%;
}
.image2 {
  margin-left: 15%;
  img {
    height: 450px;
    width: 450px;
  }
}
.info-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 35%;
  margin-bottom: 0px;
  p {
    font-size: large;
    gap: 20px;
    margin-top: 35px;
  }
  h1 {
    font-size: 50px;
    margin-top: 20px;
  }
  button {
    width: 150px;
    border: 1px solid grey;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  button:hover {
    background-color: rgb(17, 17, 254);
    transform: scale(.9);
    transition: all .3s ease-in-out;
  }
}
.last-info {
  display: flex;
  margin-top: 40px;
  gap: 30px;
  h4 {
    margin-top: 10px;
  }
}
.below-b {
  display: flex;
  margin-top: 35px;
  button {
    border-radius: 30px;
    height: 40px;
    width: 150px;
  }
}
.part-3 {
  background-color: rgba(0, 23, 44, 0.479);
  width: 100%;
  color: #fffbf0;
  gap: 35px;
  img {
    height: 360px;
    width: 550px;
  }
  h2 {
    /* margin-top: 10px; */
    margin-left: 10px;
  }
}

.fast-row {
  display: flex;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.second-row {
  display: flex;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.third-row {
  display: flex;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.bg {
  background-color: rgb(161, 162, 162);
  height: 1px;
  width: 500px;
  margin-top: 20px;
  margin-left: 10px;
}
.below-b {
  display: flex;
  justify-content: center;
  margin-left: 50%;
  margin-top: 50px;
}
.part-4 {
  background-color: rgba(0, 23, 44, 0.479);
  width: 100%;
  color: #fffbf0;
  padding-top: 20px;
  
}
.top-info {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  gap: 250px;
}
button {
  height: 40px;
  width: 160px;
  border: 1px solid grey;
  border-radius: 30px;
  font-size: 15px;
}
.work {
  h1 {
    font-size: 50px;
    margin-top: 40px;
  }
}
.para {
  width: 500px;
  line-height: 1.6;
}
.mid-content{
display: flex;
justify-content: center;
align-items: center;

gap: 25px;
button:hover{
  background-color: rgb(0, 166, 22)
}
.first-b{
  display: flex;
  flex-direction: column;
  align-items: center;


}
.second-b{
  button{
    font-size: x-large;
        height: 60px;
    width: 320px;

  }
}
}
.button-p1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button-p2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 110px;
}
.button-p3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 210px;
}
.button-p4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 310px;
  
}
.first-b{
button{
  height: 50px;
  width: 70px;
  border-radius: 100%;
}
}
.line-bg{
  height: 120px;
  width: 1px;
 background-color: rgb(161, 162, 162);
 margin-top: 40px;
 margin-bottom: 40px;
}

.p4-img{
img{
    height: 225px;
  width: 650px;
  padding-left: 260px;
  padding-top: 80px;
}
}
.p4-lb{
  padding-left: 250px;
  padding-top: 100px;
  button{
      height: 40px;
  width: 135px;
  border: 1px solid grey;
  border-radius: 30px;
  font-size: 15px;
  
  

  }
  button:hover{
        background-color: rgb(17, 17, 254);
    transform: scale(.9);
    transition: all .3s ease-in-out;
  }
}
.L-h1{
  h1{
    font-size: 50px;
    height: 200px;
    width: 800px;
    padding-left: 250px;
    padding-top: 35px;
  }
}

.p4-bg{
  height: 1px;
  width: 1000px;
  background-color: #fffbf0;
}